<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitPocket</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="nav_bar">
        <a href="/home"><img src="https://img.icons8.com/ios/50/000000/home--v1.png"/></a>
        <a href="/money"><img src="https://img.icons8.com/external-prettycons-lineal-prettycons/49/000000/external-notes-business-and-finance-prettycons-lineal-prettycons.png"/></a>
        <a href="/info"><img src="https://img.icons8.com/ios/50/000000/user--v1.png"/></a>
        <a href="/task"><img src="https://img.icons8.com/ios/50/000000/todo-list--v1.png"/></a>
        <a href="/graph"><img src="https://img.icons8.com/ios/50/000000/rebalance-portfolio.png"/></a>
    </nav>