<%-include('../views/partials/header.ejs')%>
    <h1>Enter Money</h1>
    <form action="/home" method="post">
        
        <label for="">Task Name</label>
        <input type="text" name="task_name">

        <label for="">Amount</label>
        <input type="number" name="task_amount">
        
        <label for="task_type">Take Type</label>
        <select name="task_type" id="Task_type">
            <option value="Type A">Type A</option>
            <option value="Type B">Type B</option>
            <option value="Type C">Type C</option>
        </select>  
        
        <button type="submit">ADD</button>

    </form>
    <br>
    <form action="/logout" method="post">
        <button type="submit">LogOut</button>
    </form>
    
<%-include('../views/partials/footer.ejs')%>