<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BitPocket</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Welcome BitPocket</h1>
    <p>BitPocket is a basic money management tool</p>
    <img class="img_home" src="/images/welcome_cats.svg" alt="welcome_cats">
    <div class="login_box">
      <a href="/login"><button class="button">Login</button></a>
      <a href="/register"><button class="button">Register</button></a>
    </div>
  </body>
</html>
