<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
<!-- <h1>Login</h1> -->
<h1>BitPocket</h1>
<div class="wrapper">
  <div class="big_screen">
    <img src="/images/login.svg" alt="login">
  </div>
  <div class="mobile_login">
    <form class="register_form" action="/login" method="post">
      <input class="input_box" type="text" name="u_name" placeholder="Username" required autocomplete="off"/><br>
      <input class="input_box" type="password" name="u_key" placeholder="Key" required/><br>
      <button class="button"type="submit">Login</button>
    </form>
    <p>Not a User <a href="/register">Sign Up</a></p>
  </div>
</div>
  
</body>
