<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitPocket</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="nav_bar">
        <a href="/home"><img src="https://img.icons8.com/ios/40/000000/home--v1.png"/><br>Home</a>
        <a href="/money"><img src="https://img.icons8.com/external-prettycons-lineal-prettycons/40/000000/external-notes-business-and-finance-prettycons-lineal-prettycons.png"/><br>Money</a>
        <a href="/info"><img src="https://img.icons8.com/ios/40/000000/user--v1.png"/><br>Profile</a>
        <a href="/task"><img src="https://img.icons8.com/ios/40/000000/todo-list--v1.png"/><br>Tasks</a>
        <a href="/graph"><img src="https://img.icons8.com/ios/40/000000/rebalance-portfolio.png"/><br>Graph</a>
    </nav>
<h1>Add Money</h1>
<p>You can deposit Money Here</p>
<div class="wrapper">
    <div class="big_screen">
        <img src="/images/vault.svg" alt="vault">
    </div>
    <form class="register_form" action="/money" method="post">
        <label style="font-size: x-large;">Enter Amount</label>
        <input type="number" min="0" name="money_add" id="" placeholder="Amount">
        <button class="button"type="submit">Add</button>
    </form>
</div>
    
</body>
