body {
  background-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
p {
  text-align: center;
  font-size: large;
}

.log_in{
  text-align: center;
}
.input_box{
  border-radius: 10px;
  font-size: large;
  border-style: solid;
}
.button {
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  background-color: #393e46;
  border-radius: 12px;
}
.button:hover {
  background-color: #00adb5;
}
.login_box {
  padding: 50px;
  text-align: center;
}
.test{
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.chart{
  text-align: center;
}


#myChart{
  max-width: 500px;
  max-height: 500px;
  height: 70vh;
  width:90vw;
}

.nav_bar{
  border-radius: 10px;
  display: flex;
  justify-content:center;
  background-color: #222831;
  overflow: hidden;
}
.nav_bar a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav_bar a:hover{
  border-radius: 10px;
  background-color: #00adb5;
  color: #eeeeee;
}

canvas {
  /* border: 5px solid blue; */
}
.register_form{
  text-align: center;
}
.register_form input{
  font-size: x-large;
  margin: 10px;
  border-style: none;
  border-radius: 5px;
}