body {
  background-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
p {
  text-align: center;
  font-size: large;
}

.log_in {
  text-align: center;
}
.input_box {
  border-radius: 10px;
  font-size: large;
  border-style: solid;
}
.button {
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  background-color: #393e46;
  border-radius: 12px;
}
.button:hover {
  /* background-color: #00adb5; */
  background-color: #00bfa6;
}
.login_box {
  padding: 50px;
  text-align: center;
}
.test {
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.chart {
  text-align: center;
}

#myChart {
  max-width: 500px;
  max-height: 500px;
  height: 70vh;
  width: 90vw;
}

.nav_bar {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #222831; */
  background-color: #00c3ff;
  overflow: hidden;
}
.nav_bar a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav_bar a:hover {
  border-radius: 10px;
  /* background-color: #00bfa6; */
  background-color: #008eb9;
  color: #eeeeee;
}

.register_form {
  text-align: center;
}
.register_form input {
  font-size: x-large;
  margin: 10px;
  border-style: none;
  border-radius: 5px;
  /* width: 90vw; */
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Home Route */
.img_home {
  width: 80vw;
  height: 50vh;
  padding-left: 10vw;
  margin-top: 10vh;
}
@media screen and (min-width:480px){
 .profile{
   display: flex;
   flex-direction: column;
 }
 .graphs{
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
}
@media screen and (max-width: 480px) {
  .img_home {
    width: 80vw;
    height: auto;
    padding-left: 10vw;
    margin-top: 10vh;
  }
  .big_screen {
    visibility: hidden;
    display: none;
  }
  .mobile_login {
    width: 100vw;
    margin-top: 20vh;
  }
  .input_box {
    width: 90vw;
  }
  .mobile_input {
    width: 90vw;
  }
  .nav_bar {
    /* What does this do ? */
    left: 0px;

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0%;
    height: 10vh;
  }
  .nav_bar a {
    border-radius: 0px;
  }
  .home {
    margin-bottom: 10vh;
  }
  .profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    /* justify-content: center; */
    align-items: center;
  }
  .graphs {
    display: flex;
    flex-wrap: wrap;
  }
}
